<!DOCTYPE html>
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v3.bootcss.com/favicon.ico">

    <title>Parents on journey</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">
    <link href="/static/css/markdown.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
<!--
          <a class="blog-nav-item" href="#">关于本站</a>
          <a class="blog-nav-item" href="#">家庭旅行 tips</a>
          <a class="blog-nav-item" href="#">宝贝在路上</a>
          <a class="blog-nav-item" href="#">About</a>
-->
          
        </nav>
        
      </div>  
    </div>
    <div class="blog-masthead-pic"> </div>
    <div class="container">

      <div class="blog-header">
       
        <p class="lead blog-description">淘宝优惠检索系统.</p>
        
        
      </div>

      <div class="row">

        <div class="col-sm-12 blog-main">
          
          
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="th_head">#</th>
                <th class="th_head">名称</th>
                <th class="th_head">单价</th>
				<th class="th_head">优惠条件</th>
                <th class="th_head">图片</th>
                <th class="th_head">佣金</th>
                <th class="th_head">分类</th>
<!--                <th class="th_head">推广</th>-->
                            
              </tr>
            </thead>
            <tbody>
             
           {%    for x in gears       %}

              <tr>
                <td class="td_index">{{x.id}}</td>
                <td class="td_name">          
                	<a class="td_in_name" href="{{x.tbk_url}}">{{x.gear_name}}</a>
				</td>
               
                <td class="td_price">{{x.gear_price}}元</td>
                <td class="td_return">
					<a class="td_in_link" href="{{x.coupon_tbk_link}}">优惠条件:<br>
               		{{x.coupon_detail}}</a>
                </td>
                <td class="td_pic">
                
					<a href="{{x.tbk_url}}" >
					<img class="td_in_pic" src="{{x.gear_pic}}">
					</a>
                	
                </td>

                <td class="td_url">
                	佣金: {{x.tbk_return}}元 <hr>
                	佣金比例: {{x.tbk_v_return}} %
                </td>
				<td class="td_return">
                	<a class="td_in_link" href="detail/{{x.gear_class | replace('/', '_') }}" >
					{{x.gear_class | replace('/', '_') }}
					</a>
                </td>
          
                
<!--
                <td class="td_return">
                	<a href="{{x.tbk_url}}" >
					推广链接
					</a>
                </td>
-->
          
              </tr>
            {% endfor    %}
           
              
              
            </tbody>
          </table>
        </div>
      </div>
      
      <!-- /.blog-post -->
        </div>
        
        
        <!-- /.blog-main -->

<!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>本网站由 <a href="http://getbootstrap.com/">Bootstrap</a> by <a href="https://www.zhihu.com/people/neromous">@neromous</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  

</body></html>