<!DOCTYPE html>
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v3.bootcss.com/favicon.ico">

    <title>Parents on journey</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">
    <link href="/static/css/markdown.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">关于本站</a>
          <a class="blog-nav-item" href="#">家庭旅行 tips</a>
          <a class="blog-nav-item" href="#">宝贝在路上</a>
          <a class="blog-nav-item" href="#">About</a>
          
        </nav>
        
      </div>  
    </div>
    
    
    <div class="blog-masthead-pic">
    <img class="blog-main-img"  src="/static/img/2071.jpg">
    
	</div>
    <div class="container">

      <div class="blog-header">
       
        <p class="lead blog-description">同最爱的人一起发现更大的世界.</p>
        
        
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
          
          


          <div class="blog-post">
            <h2 class="blog-post-title">关于本站</h2>

            <p class="blog-post-meta"> by <a href="/about">旅途有家人</a></p>
            <hr>
<hr>
            <div class="post-article markdown-body">
            <h3> 本站是由yanping qin 以及 jing zhang 一起携手开办的网站</h3> <p>当然那个正在旁边一边看电视一边吃水果,主要技术工作均有jing zhang完成,稍后不日便会更新英文版,敬请期待, 未来本站会上传更多母婴及家庭哺育及教育相关的知识. </p>
            
            
            
            
            </div>
          </div><!-- /.blog-post -->



        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>  -和亲爱的家人一起发现更大的世界.</p>
          </div>
          <div class="sidebar-module">
            <h4>Top Posts & Pages</h4>
            {%  for b in Best  %}
            
            <ol class="list-unstyled">
              <li><a href="{{b.path}}">{{b.title}}</a></li>
            </ol>
            
            
            {%        endfor    %}
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">知乎</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
			  <li><a href="#"> 新浪微博 </a></li>
			  <li><a href="#"> 微信公众号 </a></li>


            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>本网站由 <a href="http://getbootstrap.com/">Bootstrap</a> by <a href="https://www.zhihu.com/people/neromous">@neromous</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  

</body></html>