<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>稚嫩掌心的光芒</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">首页</a>
          <!--<a class="blog-nav-item" href="#"></a>-->
          <!--<a class="blog-nav-item" href="#">Press</a>-->
          <!--<a class="blog-nav-item" href="#">New hires</a>-->
          <!--<a class="blog-nav-item" href="#">About</a>-->
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">稚嫩掌心的光芒</h1>
        <p class="lead blog-description">小秦的母婴圈子</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
          {%      for article in articles             %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{article.title}}</h2>
            <p class="blog-post-meta">2017年12月4日 by <a href="#">小秦</a></p>
            <img src="{{article.pic}}">
            <div class="">
              {{article.content | safe }}
            </div>




            <hr>
          </div><!-- /.blog-post -->
          {%                 endfor                             %}


          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>小秦,儿科医院小大夫一枚</p>

            <p>常年烦恼于准爸爸和准妈妈们的种种不太科学的喂养方法.</p>.
            <p>于是开此微博,帮助准妈妈爸爸了解自己在新宝宝诞生过程中可能会遇到的各种问题.</p>
          </div>
          <div class="sidebar-module">
            <h4>分类</h4>
            <ol class="list-unstyled">
              <!--<li><a href="#">成为准妈妈</a></li>-->
              <!--<li><a href="#">准妈妈必读</a></li>-->
              <!--<li><a href="#">腹中宝宝</a></li>-->
              <!--<li><a href="#">营养建议</a></li>-->
              <!--<li><a href="#">新生宝宝常见问题</a></li>-->
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>推荐链接</h4>
            <ol class="list-unstyled">
              <!--<li><a href="#">GitHub</a></li>-->
              <!--<li><a href="#">Twitter</a></li>-->
              <!--<li><a href="#">Facebook</a></li>-->
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="">@neromous</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
